.chart-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 70%;
  max-width: 800px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

@media screen and (max-width: 768px) and (orientation: landscape) {
  .chart-modal {
    width: 95%;
    height: 95vh;
    /* Adjust height for landscape orientation */
    max-width: none;
  }
}

.chart-modal-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Adjust the layout of elements inside the modal */

.chart-modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

/* Responsive adjustments for specific elements within the modal */

.chart-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.chart-container {
  width: 100%;
  flex: 1;
  /* Expand to fill available vertical space */
}

.chart-modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  /* Rest of the styles ... */
}

.chart-modal-close-button {
  top: 10px;
  right: 10px;
  position: absolute;
  background-color: #ec0707;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  z-index: 1;
  border: 2px solid #ccc;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.3s, opacity 0.3s;
  border-radius: 5px;
}
